* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: normal;
  font-size: unset;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

input {
  all: unset;
  border: none;
  cursor: pointer;
}

input[disabled] {
  background-color: transparent;
}

button {
  all: unset;
  outline: revert;
  cursor: pointer;
  text-align: center;
}

select {
  appearance: none;
  outline: none;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
